body {
    font-family: 'Lato';
    color: #333333;
}

.green {
    color: #62A363;
    font-weight: bold;
}

.purple {
    color: #A2708A;
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
    font-size: 48px;
}

.nav-item {
    font-size: 20px;
    margin-right: 30px;
}

.btn-primary {
    font-size: 20px;
    border-radius: 17%/50%;
    padding: .375rem 1.5rem;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #62A363 !important;
    border-color: transparent !important;
}

.display-4 {
    font-weight: bold;
}

.featurette {
    display: flex;
    align-items: center;
    padding: 5% 0;
}

.jumbotron {
    background-color: transparent;
}

.carousel-item .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

.carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23B5D6B5' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23B5D6B5' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-indicators li {
    width: 5px;
    height: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #B5D6B5;
    border-radius: 50%;
}

.featurette{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn:focus {
    border-color: transparent !important;
    box-shadow: 0 0 0 0.2rem #B5D6B550 !important;
} 

.form-control:focus {
    border-color: transparent !important;
    box-shadow: 0 0 0 0.2rem #B5D6B550 !important;
}

.center-text {
    text-align: center;
}

.blockquote p {
    font-style: italic;
}

.socials {
    display: flex;
    flex-wrap: nowrap;
}

.social {
    padding-right: 8px;
}

.btn img {
    height: 1.5rem;
    padding-left: 0.5rem;
}

.large-jumbotron {
    background-image: url("../img/landing.png");
    background-position: 13vw -2vh;
    background-size: 85vw;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 10vw;
}

.small-jumbotron {
    text-align: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vh;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #A2708A !important;
    border-color: transparent !important;
}